@value makerLightPink, makerGreen,makerWhite, makerBlack, makerGrey, makerLightGrey from '../../common/colors.css';


.maker{
    flex-direction: column;
    text-align: center;
    width: 80vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.homeHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: makerGreen;
    padding: 0.5em;
    position: relative;
}
.homeLogo{
    margin:auto;
    width: 2em;
}
.logout{
    position:absolute;
    right: 0.5em;
    top: 0.5em;
    background-color: makerBlack;
    border-radius: 0.5em;
    border-style: none;
    border-color: makerWhite;
    color: makerWhite;
    cursor: pointer;
    padding: 0.2em 0.5em;
}


.headerTitle{
    font-size:1.5em;
    color:makerWhite;
}

.container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    background-color: makerWhite;
}

hr{
    border-color: white;
    background-color: makerLightGrey;
}
.homeFooter{
    width: 100%;
    display: flex;
    background-color: makerGreen;
    padding: 1em;
    color:makerWhite;
    font-size: 0.5em;
    justify-content: center;
}
@media screen and (max-width:mediaQuery){
    .container{
        flex-direction: column;
    }
    
}