@value makerGreen,makerWhite, makerBlack from '../../common/colors.css';

.homeHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: makerGreen;
    padding: 0.5em;
    position: relative;
    text-align: center;
}
.homeLogo{
    margin:auto;
    width: 2em;
}
.logout{
    position:absolute;
    right: 0.5em;
    top: 0.5em;
    background-color: makerBlack;
    border-radius: 0.5em;
    border-style: none;
    border-color: makerWhite;
    color: makerWhite;
    cursor: pointer;
    padding: 0.2em 0.5em;
}


.headerTitle{
    font-size:1.5em;
    color:makerWhite;
}