@value mediaQuery from '../../common/size.css';
@value makerWhite from '../../common/colors.css';

.maker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
}

.container {
  display: flex;
  flex: 1;  
  max-height: 80vh;
  min-height: 80vh;
  max-width: 80vw;
  min-width: 80vw;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
    max-height: none;
    min-height: none;
    max-width: none;
    min-width: none;
  }
}
